@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --very-dark-blue: #343964;
  --dark-blue: #393F6E;
  --gradient: linear-gradient(#E65895, #BC6BE8);

  --very-light-blue: #E2E4F3;
  --blue: #3E9FFF;
  --orange: #DD524C;
  --grayish-blue: #8B8EAB;
  --yellow: #FFECC8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--very-light-blue);
  
}

